@import "fonts.css";

body {
    font-family: raleway, raleway_bold, raleway_bolder, raleway_light, Arial, sans-serif;
    font-size: 16px;
    color: #000;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-style: raleway_bolder;
}

a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #000;
    color: #fff;
    height: 40px;
    font-family: raleway_bold;
}

#logo_menu {
    text-transform: uppercase;
    float: left;
    margin: 10px 5px;
}

.text_color {
    color: #27C9AB;
}
.menu {
    float: right;
    padding: 0 15px; 
}

ul li {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 6px 15px;
}
ul ul {
    display: none;
    position: absolute;
    background-color: #000;
    top: 38px;
    left: -20px;
}
ul ul:after {
    position: absolute;
    left: 30%;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000000;
}

li:hover ul {
	display:block;
}

/*Section 1*/
.section1 {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
}

.photos_small {
    width: 100%;
}
.chair_photo {
    float: left;
    width: 40%;
    display: inline-block;
}

.p_section1 {
    margin-bottom: 25px;
}

.chair_text {
    float: left;
    width: 45%;
    display: inline-block;
    padding: 40px 60px 40px 0;
    margin-top: 50px;
    text-align: center;
}
.arrow {
    color: #27C9AB;
    display: inline-block;
    font-size: 60px;
    padding-top: 12%;
    font-family: raleway_light;
}

.lesser {
    width: 5%;
    float: left;
}

.greater {
    width: 5%;
    float: right;
    text-align: right;
}

.button {
    background: #27C9AB;
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 8px;
    margin: 25px auto;
    text-transform: uppercase;
    padding: 10px;
}

/*Section 2*/
.photo {
    float: left;
    margin: 35px 0;
    position: relative;
}
#first_photo {
    background-image: url(../images/box1_img.jpg);
    width: 329px;
    height: 225px;
    margin-right: 45px;

}

#second_photo {
    background-image: url(../images/box2_img.jpg);
    height: 225px;
    width: 329px;
    margin-right: 45px;


}

#third_photo {
    height: 255px;
    width: 329px;
    border: 1px solid black;
    padding: 25px;
    float: left;

}

.p_third_photo {
    padding-top: 5px;
    font-family: raleway_light;
}

.transparent_box {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: 45%;
    padding-top: 5%;
    height: 60px;
    font-family: raleway_bold;
}

hr {
    background: #27C9AB;
    margin-top: 5px;
    margin-left: 0;
    height: 8px;
    width: 45%;
    position: absolute;
}

/*Section 2 - Cennik*/

.cennik, .contact {
    text-transform: uppercase;
    padding: 30px 0;
    margin-bottom: 20px;
}

#hr1 {
    width: 20%;
}

.plan {
    float: left;
    width: 30%;
    border: 1px solid #c0c0c0;
    text-align: center;
    position: relative;
    padding: 30px 20px;
    height: 430px;
    margin-left: 5%;
    margin-top: 5px;
    background: #f9f9f9;
}

#basic_plan {
    margin-left: 0;
    margin-bottom: 30px;
}

.section3 {
    background: #f1f1f1;
}

.circle {
    position: absolute;
    border: 1px solid #c0c0c0;
    top: -25px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.dot {
    position: absolute;
    border: 1px solid #c0c0c0;
    width: 20px;
    height: 20px;
    top: -15px;
    left: 50%;
    margin-left: -10px;
    border-radius: 50%;
    background-color: #c0c0c0;
}

h2 {
    color: #27C9AB;
}
.plan h2 {
    text-transform: uppercase;
}

.price_circle {
    position: absolute;
    border: 1px solid #c0c0c0;
    top: 50px;
    left: 50%;
    margin-left: -60px;
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    color: #cfcfcf;
    font-size: 24px;
    padding: 30px 0;
    font-family: raleway_bold;
}

.info1 {
    background: #e4e4e4;
    width: 100%;
    margin-top: 50%;
    position: absolute;
    left: 0;
    padding: 8px;
    color: #b1b1b1;
    font-size: 20px;
}

.info2 {
    background: #f1f1f1;
    width: 100%;
    margin-top: 62%;
    position: absolute;
    left: 0;
    padding: 8px;
    color: #8e8e8e;
    font-size: 20px;
}

.info3 {
    margin-top: 74%;
}

.info4 {
  margin-top: 86%;  
}

.button_cennik {
    margin-top: 105%;
    position: absolute;
    left: 30%;
    width: 120px;
    height: 30px;
    padding: 7px;
}

.plan:hover {
    background: #27C9AB;
    border: 2px solid #27C9AB;
}

.plan:hover h2{
    color: #fff;
}

.plan:hover .info1 {
    background: #fff;
}

.plan:hover .button_cennik {
    color: #27C9AB;
    background: #fff;
}

.plan:hover .price_circle {
    color: #27C9AB;
}

.plan:hover .dot{
    background: #fff;
    border: 1px solid #fff;
}

.plan:hover .circle{
    background: #27C9AB;
    border: 1px solid #27C9AB;
}

/*Section 3 - Kontakt */

textarea {
    resize: none;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    line-height: 30px;
    border: 1px solid #27C9AB;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label span.tick {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    background: #fff;
    border: 1px solid #27C9AB;
}

input[type=checkbox]:checked + label span.tick {
    background-image: url('../images/form_ok.jpg');
    background-size: 28px;
    background-position: 0px 3px;
    background-repeat: no-repeat;
}

.dane {
    width: 250px;
    padding-left: 5px;
    display: inline-block;
    color: #8e8e8e;
}

.contact_left {
    float: left;
    width: 60%;
    margin-bottom: 30px;
}

.contact_right {
    float: left;
    width: 30%;
    padding-left: 25px;
    margin-left: 5%;
    margin-bottom: 30px;
}

#chair2 {
    width: 200px;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5px;
}

#button_form {
    width: 100%;
    height: 40px;
    font-size: 22px;
    font-family: raleway_bold;
    padding: 3px;
    margin: 25px 0;
}

/*Footer*/

.copyright {
    float: left;
    width: 65%;
    padding: 15px;
    font-size: 12px;
    color: #b1b1b1;
}

.icons {
    float: left;
    width: 20%;
}

.footer_logo {
    float: right;
    width: 15%;
    text-align: right;
    padding: 15px;
    font-size: 12px;
    color: #b1b1b1;
}

#footer_text_logo {
    font-family: raleway_bolder;
}